.logo {
    border: 2px solid #ff00ff;
    box-shadow: 0 0 10px #ff00ff;
    margin: 5px;
    border-radius: 5px;
}

.indexTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
