body {
    background-color: black;
}

.button  {
    border: 3px solid;
    border-color: green;
    color: aqua;
    border-radius: 12px;
}
.logo {
    border: 3px solid;
    border-color: aqua;
    left: 500px;
    top: 500;
}